.text-field {
    -fx-font-size: 14;
}

.button {
    -fx-border-color: #e2e2e2;
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-background-color: #217af0;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.root {
-fx-background-color: #FFFFFF;
}